<!DOCTYPE html>
<html>
<head>
    <style>
        body {background-color: black; text-align: right;}
        p    {color: powderblue; background-color: red; font-size: 50px; text-align: left;}
    </style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src='main.js'></script>
    <p>{{name}}</p>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.4fmhZsNoKSghjwi8410alwHaEK%26pid%3DApi&f=1" alt="inside">
    {%for ppl in ppl%}
    <p>-{{ppl}}</p>
    {% endfor %}

</head>
<body>
    
</body>
</html>