<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movies v2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' media='screen' href='static/styles.css'>
        <style>
            h3    {color: white; background-color: red; font-size: 50px; text-align: left;}
            h1,p {font-size: 30px; color: red;}
            div {border-style: double; border-radius: 20dp; border-color: rgb(61, 68, 68);}
        </style>
    </head>
    <body>
        <h1>Here are the updated movies results:</h1>
        {% for result in results %}
            <div class = "movie_div">
                <h3>{{result['title']}}</h3>
                <p>Year released: {{result['year']}}</p>

            {% if result['cast'] == [] %}
                <p>Cast info N/A</p>
            {% else %}
                <p>Cast: {{result['cast']}}</p>
            {% endif %}

            {% if result['genres'] == [] %}
                <p>Genre info N/A</p>
            {% else %}
                <p>Genre: {{result['genres']}}</p>
            {% endif %}

            </div>
        {% endfor %}
    </body>
</html>